<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UNMS Exporter</title>
  <style>
    * { box-sizing: border-box }
    html { font: normal 16px/1.2 sans-serif }
    html, body { margin: 0; padding: 0 }
    body { padding: 20px 50px; font-size: 1rem }
    footer { margin-top: 20px; padding-top: 20px; border-top: 1px solid #ccc; font-size: 0.8rem }
    a, a:visited { text-decoration: none; color: #a41b44 }
    a:hover { text-decoration: underline }
  </style>
</head>
<body>
  <h1>UNMS Exporter</h1>

  <ul>
    <li>
      <a href="/metrics">Exporter metrics</a>
    </li>
    {{ range .Instances }}
    <li>
      Target: <a href="/metrics?target={{.}}">{{.}}</a>
    </li>
    {{ end }}
  </ul>

  <footer>
    <a href="https://github.com/ffddorf/unms-exporter">GitHub</a> ·
    <a href="https://github.com/ffddorf/unms-exporter/issues">Issues</a>
  </footer>
</body>
</html>
